@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i|Montserrat:400,500');
@charset "UTF-8";
/*! normalize.css 2011-08-31T22:02 UTC · http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 3 */
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0;
}

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #00e;
}

a:visited {
  color: #551a8b;
}

/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3/4, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}

/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, F3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9 
 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}

/*
 * Define consistent margin and padding
 */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  *margin-left: -7px;
  /* 2 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, F3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * 1. Addresses FF3/4 setting line-height using !important in the UA stylesheet
 * 2. Corrects inner spacing displayed oddly in IE6/7
 */
button,
input {
  line-height: normal;
  /* 1 */
  *overflow: visible;
  /* 2 */
}

/*
 * Corrects overlap and whitespace issue for buttons and inputs in IE6/7
 * Known issue: reintroduces inner spacing
 */
table button,
table input {
  *overflow: auto;
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
}

#submit_search{
    float:right;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Addresses excess padding in IE8/9
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Corrects inner padding displayed oddly in S5, Chrome on OSX
 */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Corrects inner padding and border displayed oddly in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/* 
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

div.colors div {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  display: inline-block;
}

.base-color {
  background: #ff5533;
}

.complementary-color {
  background: #33ddff;
}

.complementary-analogous-positive {
  background: #3377ff;
}

.analogous-negative {
  background: #b3003b;
}

.analogous-positive {
  background: #b37700;
}

.split-complementary-negative {
  background: #003bb3;
}

.split-complementary-positive {
  background: #00b377;
}

.triad-negative {
  background: #1e00b3;
}

.triad-positive {
  background: #00b31e;
}

.right-triangle-negative {
  background: #7700b3;
}

.right-triangle-positive {
  background: #3bb300;
}

div[role=main]:before, div[role=main]:after {
  content: "";
  display: table;
  width: 100%;
}
.ie div[role=main] {
  *zoom: 1;
}

section {
  width: 18.36735%;
  float: left;
  margin-right: 2.04082%;
  display: inline;
}

@media screen {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  * html {
    font-size: 125%;
  }

  html {
    font-size: 20px;
    line-height: 1.5em;
  }

  html {
    background-color: #F3F3EB;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 200, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, transparent)), url("../images/bg.jpg");
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1) 0%, transparent 200px), url("../images/bg.jpg");
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1) 0%, transparent 200px), url("../images/bg.jpg");
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.1) 0%, transparent 200px), url("../images/bg.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, transparent 200px), url("../images/bg.jpg");
    background-position: 0 2px;
    border-top: 3px solid #483247;
  }

  body {
    font-family: "Crimson Text", Georgia, "Times New Roman", Times, serif;
    color: #4b4b4b;
    position: relative;
    padding: 0;
    *zoom: 1;
    max-width: 1410px;
    _width: 1410px;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  body:after {
    content: "";
    display: table;
    clear: both;
  }
  body.neatline.fullscreen {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  a {
    color: #7B0D1E;
    color: #7B0D1E;
    -webkit-transition: color 0.5s, background-color 0.5s;
    -moz-transition: color 0.5s, background-color 0.5s;
    -o-transition: color 0.5s, background-color 0.5s;
    transition: color 0.5s, background-color 0.5s;
  }
  a:visited {
    color: #935C61;
  }
  a:focus {
    color: #664865;
  }
  a:hover {
    color: #664865;
  }
  a:active {
    color: #7B0D1E;
  }
  a:before {
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
  }
  a img {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
  }

  h1, h2 {
    font-weight: normal;
  }

  h1 {
    font-size: 1.6em;
    line-height: 1.875em;
    margin: 0.9375em 0;
    text-shadow: rgba(255, 255, 255, 0.5) -1px 0;
  }
  div[role=main] h1:first-child {
    font-size: 2em;
    line-height: 1.5em;
  }

  h2 {
    font-size: 1.2em;
    line-height: 2.14286em;
    line-height: 1.07143em;
    margin: 2.14286em 0 1.07143em;
  }
  h1 + h2, h1 ~ * h2:first-child {
    margin-top: 1.07143em;
  }

  h3 {
    font-size: 1em;
    line-height: 1.25em;
    color: rgba(75, 75, 75, 0.75);
    margin: 1.25em 0 0;
  }
  h2 + h3, h2 + * h3 {
    margin-top: 0 !important;
  }

  h4 {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 3em;
  }
  h3 + h4 {
    margin-top: 1.5em;
  }

  h5 {
    font-size: 1em;
    line-height: 1.5em;
    color: rgba(75, 75, 75, 0.75);
    margin-top: 3em;
  }
  h4 + h5 {
    margin: 1.5em 0 0;
  }

  h6 {
    font-size: 1em;
    line-height: 1.5em;
    font-style: italic;
    color: rgba(75, 75, 75, 0.75);
    margin: 3em 0;
  }
  h5 + h6 {
    margin: 1.5em 0;
  }

  /*h3 + p,*/
  h3 + ul,
  h3 + ol, h4 + p,
  h4 + ul,
  h4 + ol, h5 + p,
  h5 + ul,
  h5 + ol, h6 + p,
  h6 + ul,
  h6 + ol {
    margin-top: 0;
  }
  h3 + .element-text :first-child, h4 + .element-text :first-child, h5 + .element-text :first-child, h6 + .element-text :first-child {
    margin-top: 0;
  }

  p {
    margin: 1.5em 0;
  }

  blockquote {
    margin: 0;
    font-size: 1em;
    line-height: 1.5em;
    border-left: 0.375em solid rgba(75, 75, 75, 0.1);
    padding-left: 1.5em;
    font-style: italic;
  }
  figure blockquote {
    text-align: left;
  }
  blockquote + figcaption {
    margin-left: 2.67857em;
    text-align: left;
  }
  blockquote :last-child {
    margin-bottom: 0;
  }

  /* Forms */
  form {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  form .field {
    margin-bottom: 1.5em;
  }

  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

  textarea {
    width: 100%;
  }

  textarea,
  input,
  select,
  button {
    font-family: "Cabin", "Lucida Grande", Verdana, sans-serif;
    color: #4b4b4b;
    font-size: 0.8em;
    line-height: 1.875em;
    line-height: 1;
    padding: 0.46875em;
  }

  textarea,
  input[type=text] {
    border: 1px solid rgba(75, 75, 75, 0.1);
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    display: inline;
  }
  nav ul li:not(:first-child):before {
    color: rgba(75, 75, 75, 0.5);
    content: " · ";
    padding: 0 10px;
  }
  nav ul li a {
    text-decoration: none;
  }

  figure {
    margin: 3em 0;
    text-align: center;
  }
  figure img {
    border: 1px solid rgba(75, 75, 75, 0.1);
    padding: 0.375em;
    background: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  figcaption {
    font-size: 0.8em;
    line-height: 1.875em;
    margin-top: 1.875em;
    line-height: 1.875em;
    color: rgba(75, 75, 75, 0.75);
  }

  dl {
    margin: 1.5em 0;
  }
  dl dt {
    font-weight: bold;
  }
  dl dd {
    margin: 0 0 1.5em 1.5em;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  ul, ol {
    padding: 0;
    margin: 1.5em 0 1.5em 1.5em;
  }
  header nav ul ul, footer nav ul ul, header nav ol ul, footer nav ol ul {
    display: none;
  }
  nav ul, nav ol {
    margin-left: 0;
    padding-left: 0;
    list-style: none !important;
  }
  ul ul, ol ul {
    list-style: circle;
  }
  ul ol, ol ol {
    list-style: upper-alpha;
  }
  ul ul, ul ol, ol ul, ol ol {
    margin: 0 0 0 1.5em;
  }
  ul ul ul, ul ol ul, ol ul ul, ol ol ul {
    list-style: square;
  }
  ul ul ol, ul ol ol, ol ul ol, ol ol ol {
    list-style: lower-alpha;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  th {
    border-bottom-style: solid;
    border-bottom-width: 0.05em;
    padding-bottom: 1.45em;
    border-bottom-color: rgba(75, 75, 75, 0.1);
    text-align: left;
  }

  tr {
    border-bottom-style: solid;
    border-bottom-width: 0.05em;
    padding-bottom: 1.45em;
    border-color: rgba(75, 75, 75, 0.1);
  }

  td {
    vertical-align: top;
    padding: 0.375em;
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  code {
    font-family: monospace;
    color: #3d574b;
  }

  del {
    color: rgba(75, 75, 75, 0.5);
  }

  ins {
    text-decoration: none;
    background: #3d574b;
  }

  address {
    font-style: normal;
    margin: 1.5em 0;
  }

  br {
    margin: 0;
    line-height: 0;
  }

  hr {
    border: none;
    text-align: center;
  }
  hr:before {
    display: block;
    content: " · · · · · ";
    color: rgba(75, 75, 75, 0.5);
  }

  /* Have to use more specific selector to override Omeka core styles. */
  body #admin-bar {
    background: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    text-align: center !important;
    font-size: 0.6em;
    line-height: 2.5em;
    margin: 0;
    padding: 0;
  }
  body #admin-bar:before, body #admin-bar:after {
    content: "";
    display: table;
    width: 100%;
  }
  .ie body #admin-bar {
    *zoom: 1;
  }
  body #admin-bar:after {
    display: block;
    content: "";
    height: 0;
    border-top: 1px solid rgba(75, 75, 75, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  }
  body #admin-bar ul {
    line-height: 2.5em;
  }
  body #admin-bar li a {
    text-decoration: none;
    color: #7B0D1E !important;
  }
  body #admin-bar li a:link {
    color: #7B0D1E !important;
  }
  body #admin-bar li a:visited {
    color: #935C61 !important;
  }
  body #admin-bar li a:hover, body #admin-bar li a:focus, body #admin-bar li a:active {
    color: #664865 !important;
  }
  body #admin-bar li:before {
    content: none;
    padding: 0;
    margin: 0;
  }

  header[role=banner]:before, header[role=banner]:after {
    content: "";
    display: table;
    width: 100%;
  }
  .ie header[role=banner] {
    *zoom: 1;
  }
  header[role=banner] h1 {
    margin: 0;
    text-align: center;
  }
  header[role=banner] a {
    text-decoration: none;
  }
  header[role=banner] nav {
    clear: both;
  }
  header[role=banner] nav:before {
    display: block;
    content: "";
    height: 0;
    border-top: 1px solid rgba(75, 75, 75, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  }
  header[role=banner] nav:after {
    display: block;
    content: "";
    height: 0;
    border-top: 1px solid rgba(75, 75, 75, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  }
  header[role=banner] nav ul {
    text-align: center;
    line-height: 3em;
  }
  header[role=banner] nav .active a {
    color: #4b4b4b;
  }

  /* Simple Search */
  #search-container {
    position: relative;
    max-width: 56.60377%;
    margin: 0 auto 1.5em;
  }
  #search-container input {
    margin: 0;
  }
  #search-container input[type=text] {
    color: #555;
    width: 100%;
    border: 0;
    padding-right: 2em;
  }
  #search-container input[type=submit] {
    position: absolute;
    background-color: transparent;
    top: 50%;
    right: 0em;
    margin-top: -1em;
    content: "";
    text-indent: -9999px;
    background-image: url("../images/search-icon.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 2em;
    width: 2em;
    line-height: 0;
    border: none;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
  #search-container input[type=submit]:hover, #search-container input[type=submit]:focus, #search-container input[type=submit]:active {
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  div[role=main] {
    padding-bottom: 1.5em;
  }

  #featured-item .image,
  #recent-items .image {
    width: 3.75em;
    height: 3.75em;
    float: left;
    display: block;
    margin: 0.375em 2.12766% 1.5em 0;
  }
  #featured-item .item-description,
  #recent-items .item-description {
    margin-top: 0;
    font-size: 0.8em;
    line-height: 1.875em;
  }
  #featured-item .item + .item,
  #recent-items .item + .item {
    border-top: 1px dotted #ccc;
  }

  #recent-items div.item:before, #recent-items div.item:after,
  #recent-items div.collection:before,
  #recent-items div.collection:after,
  .browse div.item:before,
  .browse div.item:after,
  .browse div.collection:before,
  .browse div.collection:after {
    content: "";
    display: table;
    width: 100%;
  }
  .ie #recent-items div.item, .ie
  #recent-items div.collection, .ie
  .browse div.item, .ie
  .browse div.collection {
    *zoom: 1;
  }

  #featured-exhibit .image {
    width: 3.75em;
    height: 3.75em;
    float: right;
    display: block;
    margin-left: 2.12766%;
    margin-top: 0.375em;
  }
  #featured-exhibit .description {
    margin-top: 0;
    font-size: 0.8em;
    line-height: 1.875em;
  }

  .pagination {
    list-style-type: none;
    width: 49.0566%;
    float: left;
    margin-right: 1.88679%;
    display: inline;
  }
  .pagination, .pagination li {
    margin: 0px;
    padding: 0px;
    display: inline;
  }
  .pagination form {
    display: inline;
  }
  .pagination input {
    width: 2em;
  }
  .pagination a {
    text-decoration: none;
  }

  #sort-links {
    width: 49.0566%;
    float: right;
    margin-right: 0;
    *margin-left: -30px;
    display: inline;
    text-align: right;
  }
  #sort-links ul {
    list-style-type: none;
  }
  #sort-links ul, #sort-links ul li {
    margin: 0px;
    padding: 0px;
    display: inline;
  }
  #sort-links ul a {
    text-decoration: none;
  }
  #sort-links ul li + li:before {
    content: " · ";
    color: rgba(75, 75, 75, 0.5);
  }

/*
** display:none to hide the previous item, next item buttons. 
    If you want those, display block.
*/
  .item-pagination {
    display: none;
    clear: both;
    text-align: center;
    padding-top: 1.5em;
  }

  .browse .item h2 {
    margin-bottom: 0;
  }
  .browse .item .item-img {
    float: right;
    margin-left: 2.12766%;
  }
  .browse .item + .item {
    margin-top: 1.5em;
  }
  .browse .item + .item:before {
    display: block;
    content: "";
    height: 0;
    border-top: 1px solid rgba(75, 75, 75, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  }
  .browse .collection h2 {
    margin-bottom: 0;
  }
  .browse .collection + .collection {
    margin-top: 1.5em;
  }
  .browse .collection + .collection:before {
    display: block;
    content: "";
    height: 0;
    border-top: 1px solid rgba(75, 75, 75, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  }
  .browse .collection .view-items-link {
    margin-bottom: 0;
  }
  #collection-items .item p {
    font-size: 0.75em;
    line-height: 2em;
    line-height: 1.5em;
  }

  #outputs {
    margin-top: 3em;
  }
  #outputs:before, #outputs:after {
    content: "";
    display: table;
    width: 100%;
  }
  .ie #outputs {
    *zoom: 1;
  }
  #outputs .outputs-label {
    font-weight: bold;
  }
  #outputs .outputs-label:after {
    content: ": ";
  }
  #outputs p {
    margin-top: 0;
    display: inline;
  }

  #advanced-search-form .field + .field {
    border-top: 1px dotted rgba(75, 75, 75, 0.1);
    padding-top: 1.5em;
  }

  #search-narrow-by-fields select,
  #search-narrow-by-fields input[type=text] {
    margin-right: 0.375em;
  }

  .neatline.show div[role=main] h1 {
    display: inline-block;
  }
  .neatline.show .nl-fullscreen {
    display: inline;
    font-size: 0.75em;
    line-height: 2em;
    line-height: 2em;
    text-decoration: none;
    margin-left: 0.25em;
  }
  .neatline.show .nl-fullscreen:before {
    content: "(";
    color: #999;
  }
  .neatline.show .nl-fullscreen:after {
    content: ")";
    color: #999;
  }
  .neatline.show #neatline-map {
    clear: both;
    margin: 0;
  }

  footer[role=contentinfo] {
    text-align: center;
  }
  footer[role=contentinfo]:before {
    display: block;
    content: "";
    height: 0;
    border-top: 1px solid rgba(75, 75, 75, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  }
  footer[role=contentinfo] p, footer[role=contentinfo] ul {
    font-size: 0.8em;
    line-height: 1.875em;
    margin-top: 1.875em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 1.875em;
  }
}
@media screen and (min-width: 1050px) {
  .browse .collection .description {
    width: 66.03774%;
    float: left;
    margin-right: 1.88679%;
  }
  .browse .collection .meta {
    width: 20.75472%;
    float: right;
    margin-right: 0;
  }
  .browse .collection .meta h3 {
    margin-top: 0;
  }
}

@media screen and (min-width: 1050px) {
  body #admin-bar {
    text-align: right !important;
  }

  header[role=banner] {
    padding-top: 1.5em;
  }
  header[role=banner] h1 {
    width: 66.03774%;
    float: left;
    margin-right: 1.88679%;
    text-align: left;
    line-height: 0.9375em;
    margin: 0;
  }
  header[role=banner] #search-container {
    width: 32.07547%;
    float: right;
    margin-right: 0;
  }
  header[role=banner] #search-container form {
    margin: 0;
  }
  header[role=banner] nav:before, header[role=banner] nav:after {
    content: "";
    display: table;
    width: 100%;
  }
  .ie header[role=banner] nav {
    *zoom: 1;
  }

  .show .element-set {
    width: 66.03774%;
    float: left;
    margin-right: 1.88679%;
  }
  .show #item-tags,
  .show #item-citation,
  .show #item-output-formats {
    width: 32.07547%;
    float: right;
    margin-right: 0;
    clear: right;
  }

  #featured-content {
    width: 49.0566%;
    float: left;
    margin-right: 1.88679%;
  }

  #recent-items {
    width: 49.0566%;
    float: right;
    margin-right: 0;
  }

  #advanced-search-form .field:before, #advanced-search-form .field:after {
    content: "";
    display: table;
    width: 100%;
  }
  .ie #advanced-search-form .field {
    *zoom: 1;
  }
  #advanced-search-form .field label,
  #advanced-search-form .field .label {
    width: 32.07547%;
    float: left;
    margin-right: 1.88679%;
    text-align: right;
  }
  #advanced-search-form .field .inputs {
    width: 66.03774%;
    float: right;
    margin-right: 0;
  }
  #advanced-search-form .field .add_search {
    clear: right;
    margin-left: 33.96226%;
  }
  #advanced-search-form .submit {
    margin-left: 33.96226%;
  }

  footer[role=contentinfo] {
    text-align: left;
  }
  footer[role=contentinfo]:before, footer[role=contentinfo]:after {
    content: "";
    display: table;
    width: 100%;
  }
  .ie footer[role=contentinfo] {
    *zoom: 1;
  }
  footer[role=contentinfo] nav {
    width: 66.03774%;
    float: right;
    margin-right: 0;
    text-align: right;
  }
  footer[role=contentinfo] #footer-text {
    width: 32.07547%;
    float: left;
    margin-right: 1.88679%;
  }
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: .5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h1, h2, h3 {
    page-break-after: avoid;
  }

  nav {
    display: none;
  }
}


/* EVERYTHING FROM HERE ON HAS BEEN ADDED BY @cmccullough012
--------------------------------------------------------------*/
 
/* ORIGINAL PURPLE: #573d56
    VISITED LINK PURPLE:#755274

    NEW RED: #7B0D1E
    VISITED LINK RED: #935C61 */

h1, h2 {
    font-family:'Montserrat', sans-serif;
    font-weight:500;
    color:#7B0D1E;
}

h3, h4, h5, h6 {
    font-family:'Montserrat', sans-serif;
    font-weight:400;
    color:#7B0D1E;
}

body{
    font-family:'Crimson Text', serif;
}

/* wrapper div for the content of the front page  - defines floating center section of white background*/
#n_wrap{
    overflow: hidden;
    width: 884px;
    background:#fff;
    padding: 15px;
    margin: 42px auto;
    max-width: 884px;
}

#hide{
    display:none;
} 

/* div content inside white wrapper */
#n_content{
    clear: both;
    padding-bottom: 21px;
    float: left;
    width: 100%;
    position:relative;
}

/* establishing map dimensions */
#n_map_container{
    width: 100%;
    height: 25em;
}

#neatline_home{
    height:inherit;
}

/* actual iframe holding neatline map */
#neatline_iframe_home{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #7B0D1E;
}

/* style for all text blocks and headers on homepage */
.homepage-text{
    padding: 15px; 
    margin-bottom: 15px;
    margin-top:15px;
    background: #f7f6f1;
    border:1px solid #7B0D1E;
}

.homepage-text h3{
    color: #7B0D1E; 
    font-variant: small-caps;
    margin-top:0;
    text-align: center;
    font-size:1.2em;
}


/* sets up the three column view for exhibit picture/headings */ 
#tri_wrapper{
    width:100%; 
    height: auto;
    padding-right: 3.5%;
    padding-left: 0;
}

/* class for each of the three sections*/
.sub_container { 
    width: 33.3%; 
    position:relative;
    float:left;
}

/* class for images in each of the three sections */
.n_image{
    width: 90%;
    border:1px solid #7B0D1E;
    margin: 10% 10% 5% 10%;
}

/* Class for wrapper div of text of each of the three sections */
.descr{
    clear:none;
    margin: 0% 0% 0% 10.5%;
    position:relative;
    text-align: center;
    padding-bottom: .5%;
    font-variant: small-caps;
    
}

/* column 1 of 3
#vertical_1{
    float: left;
}

/* column 2 of 3
#vertical_2{
    display:inline-block;
}

/*column 3 of 3
#vertical_3{
    float:right;
}*/

.descr h4{
    margin-top:0;
    font-size:1em;
    color:#7B0D1E;
    font-family:'Montserrat', sans-serif;
    font-weight:500;
}


/* allots most of the header section to a logo, pushes search bar to right */ 
#logo_wrap{
    width:67%;
    float:left;
}

/* not even sure if this does anything but it doesn't seem to hurt */
#search-container{
    width:25%;
    float:right;
}

.no_title{
    margin-top:80px;
}

/* restrains the logo size */
#head_identifiers img{
    max-width: 100%;
    max-height: 175px;
    padding-bottom: 20px;
    padding-left:4%;
}

/* when the site title option is shown, this pushes the searchbar 
    onto the same row and forces them both under the logo */ 
#head_row_2{
    clear: both; 
    width:100%;
}

#nav_icon{
    display:none;
}

#nav_icon img{
    max-width:85px;
}

/* sets the width of each of the four foot sections */
.foot_section{
    width: 24%; 
    
}


.foot_section h4{
    margin-top: 10.5%;
}

#footer_container {
    width: 100%;
    height:400px;
    margin-left: 5%;
}


#footer_text{
    float:left;
    padding-left:5%;
    font-size: 12pt;
    padding-top: 2.5%;
}

#footer_contact{
    text-align: center;
    display: inline-block;
}

#footer_logo{
    display:inline-block;
    padding-left: 4%;
    margin-top:1%;
}

#footer_social{
    float:right;
}

#footer_social h4{
    margin-left:4%;
    padding-left:4%;
}

#footer_social img {
    max-width: 60px; 
    margin:2%;
}

/* Sets up footer logos; arranged so that if one isn't used 
    and isn't displayed, everything is ok'*/
#twitter {
    float:left;
}

#youtube {
    display: inline-block;
}

#facebook{
    display: inline-block;
}

/* The two sponsored logos - RIT and NEH right now*/
#foot_logo_1, #foot_logo_2{
    width: 80%;
    padding-bottom: 4%;
    padding-top: 8%;
    padding-left:10%;
}

/* More attractive read more button for the about section */
.read_more_button{
    border-top: 1px solid #7B0D1E;
    border-bottom: 1px solid #7B0D1E;
    font-style: italic;
    width: 15%;
    margin: 5px;
    position: relative;
    left: 85%;
    text-align: center;
}

.homepage-text a{
    text-decoration: none;
}

/* Just a backup to push the comments section down on individual items
    it was riding up */
#comments-container{
    clear:both; 
    padding-top:2em;
}

#commenting-explanation{
    font-style:italic;
    font-size:14pt;
}

.field .explanation{
    display:none;
}

/* Formats any small photo or video inserted into a summary/simple page/etc
    pushes it to the left, text on the right */
.article_photo_left{
    max-width:300px;
    border: 10px solid white;
}

.article_photo_container_left{
    float:left;
    margin: 3% 3% 0 0;
    width:300px;
}

.article_photo_container_right{
    float:right;
    margin: 3% 0 0 3%;
    width:300px;
}

.article_photo_right{
    max-width:300px;
    border: 10px solid white;
}

.article_photo_caption{
    font-size:.7em;
    color:dimgray;
    font-style: italic;
    width:90%;
    padding-left:5%;
    margin-top:0;
    text-align: center;
}

#oral_article_photo{
    margin-top:0;
}

/* a little extra padding on content area */
div[role=main]{
    padding:4%;
}

/* wrapper div for oral history simple page */
oral_hist_wrap{
    width:90%;
}

/* one row of iframe oral history videos */
.iframe_row{
    height:350px;
    width:100%;
    clear:both;
    padding:2%;
}

/* Aligns videos to a three column view */
/*.oral_video_L{
    float:left;
}

.oral_video_R{
    float:right;
}

.oral_video_M{
    display:inline-block;
}
*/

.oral_video_{
    width: 33.3%; 
    position:relative;
    padding:1.5%;
    float:left;

}

#oral_videos{
    clear:both;
}

#oral_videos h2{
    text-align:center;
    font-size:2em;
    font-variant:small-caps;
    margin-bottom:.2em;
}

#access_caption{
    font-size: .8em;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 0;
    padding-top: 0;
    font-style: italic;
    color: #7B0D1E;
}

.oral_caption{
    text-align:center;
    font-variant:small-caps;
    width:315px;
    font-size:.9em;
}

.oral_video{
    border: 10px solid white;
    box-shadow: 2px 2px 2px #888888;
}



/* a little extra room on exhibits browse description section*/
.browse_description{
    margin-bottom: 3%;
    margin-left:3%;
}

.exhibit .image, .exhibit .image{
    padding-left:3%;
}

section{
    width:100%
}


/*neatline browse page */ 
.nl_preview{
    width:100%;
    height:300px;
    border: 2px solid #7B0D1E;
}

/* pagination via jQuery plugin easyPaginate for Oral History page */
.easyPaginateNav a {
    padding:5px;
    text-decoration: none;
}
.easyPaginateNav a.current {font-weight:bold;text-decoration:underline;}
.easyPaginateNav {
    clear:both;
    text-align:center;
}


/* MAP STUFF */ 

.map_container a{
    text-decoration:none;
    font-variant: small-caps;
}

.map_iframe{
    width:100%;
    height:25vw;
}



/* MEDIA QUERIES */
@media screen and (max-width:1000px){
    #n_wrap{
        overflow: hidden;
        width: 700px;
        background:#fff;
        max-width: 1000px;
    }

    .descr h4{
        font-size:1.3em;
    }

}

@media screen and (max-width:700px){
    div[role=main]{
        padding:0;
    }
    
    #home{
        position:absolute;
        padding-left:6%;
    }
    
    #n_wrap{
        overflow: hidden;
        width: 100%;
        background:#fff;
        max-width: 1000px;
    }

    .read_more_button{
        width:20%;
        left:80%;
    }
    
    /*Condenses nav a bit */
    li::before{
        padding: 0 2px;
    }
    
/* FOOTER -700px */
    .foot_section{
        width:100%;
    }
    
    #footer_container {
        width: 100%;
        height:auto;
        margin:0;
    }
    
        
    .foot_section h4{
        font-size:.9em;
        margin:2%;
    }


    #footer_text{
        display:block;
        padding-left:5%;
        font-size: 12pt;
        padding-top: 2.5%;
    }

    #footer_contact{
        text-align: center;
        display: block;
    }
    
    #footer_contact p{
        margin:0;
        padding:2px;
    }

    #footer_logo{
        display:inline-block;
        padding-left: 4%;
        margin-top:1%;
        
    }

    #footer_social{
        display:inline-block;
        float:none;
    }

    #footer_social h4{
        margin-top:3%;
        margin-bottom:0;
        padding-left:7%;
    }
    
    #footer_social br{
        display:none;
    }


    #foot_logo_1, #foot_logo_2{
        padding:5px 30px; 
        max-height:50px;
        width:auto;
        margin:0;
    }

    #twitter{
        display:inline-block;
        float:none;
    }

    
    .descr h4{
        font-size:1em;
    }
    


}

@media screen and (max-width:450px){
    
   /* div[role=main]{
        margin-top:5%
    }*/

/* OVERVIEW THINGS - 450px */
    header[role=banner]{
        padding-bottom:11%;
        
    }
    
    #home div[role=main]{
        margin-top:0;
    }
    
    div[role=main]::before{
        border-top:1px solid rgba(75, 75, 75, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.75);
        display:block;
        content:"";
        height:0;
    }
    
    #n_wrap{
        overflow: hidden;
        width: 100%;
        background:#fff;
        max-width: 1000px;
    }
/* FOOTER THINGS */
    footer nav{
        clear:both;
        padding-top:2%;
    }
    
    #footer_contact{
        text-align: center;
        float:left;
        width:55%;
        padding-top:2%;
        padding-left:15%;
        font-size:.8em;
    }
    
    #footer_social{
        width:45%;
        padding-right:17%;
        padding-top:2%;
    }
    
    
/* HEADER THINGS */
    /*nav ul{
        display:none;
        position:static;
    } */
    
    #top-nav ul li{
        width:100%;
        display:block;
        text-align:left;
        background-color:lightgray;
        padding-left:2%;
        border:1px solid white;
    }
    
    nav ul li:hover{
        background-color:darkgray;
    }
    
    #top-nav li::before{
        display:none;
    }
    
    #nav_icon{
        display:none;
        position:absolute;
        right:20px;
        top:30px;
    }
    
    header[role=banner] nav{
        clear:none;
    }
    
    header[role=banner] nav::after{
        border:none;
    }
    
    header[role=banner] nav ul{
        line-height:normal;
        font-size:.7em;
    }
    
    #logo_wrap{
        width:60%;
        float:left;
        padding-top:5%;
    }
    
    #home #top-nav{
        width: 30%;
     /*   margin-right:13%; */
        margin-top:20px;
        float:right;
        line-height:3em;
        font-size:.9em;
    }
    
    #home #top-nav li{
        height:40px;
    }
    
    #top-nav{
        width: 30%;
     /*   margin-right:13%; */
        margin-top:20px;
        float:right;
        line-height:3em;
        font-size:.7em;

    }
    
    #top-nav li{
        height:25px;
    }
    
    
    nav:hover ul{
        display:block;
    }
    
    
    #home_logo{
        width:400px;
    }
    
    #head_identifiers img{
        max-height:none;
    }
    
    #search-container{
        width:50%;
        position:absolute;
        left:20px;
        top:33vw;
        margin:3%;
        height:8%;
        font-size:.8em;
    }
    
    #home #search-container{
        width:60%;
        position:absolute;
        left:20px;
        top:42vw;
        margin:3%;
    }
    
/* BODY THINGS */
    
    /* Iframe */
    
    /* tri-divs */
    .sub_container{
        width:100%;
        display:block;
    }
    
    /*banner*/

    
    #banner_wrapper{
        height:219px;

        background-repeat: no-repeat;
        background-size:contain;
        
    }
    
    /*Items page */
    #sort-links{
        width:100;
        float:none;
    }
    
    .browse nav ul li::before{
        padding:0 5px;
    }
    
    .browse ul{
        margin-bottom:5%;
    }
}
